body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 60px;
    background-color: #22333B;
  }
  
  header {
    background-color: #0A0908;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .user-icon {
    right: 5%;
    position: absolute;
    margin-right: 5px;
  }
  
  .login-text {
    color: #fff;
    right: 10%;
    position: absolute;
  }

  h1 {
    margin-left: 10px;
  }
  
  .carousel {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
  }
  
  .hamburger-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
  }
  
  .carousel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
  }
  
  .carousel-list li {
    flex: 0 0 100%;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  .movies {
    margin-top: 120px;
  }
  
  .movie-section {
    margin-bottom: 20px;
  }
  
  .movie-section h2 {
    font-size: 30px;
    color: #fff;
    padding-left: 20px;
    text-shadow: #0A0908 3px 3px 2px;
    
  }
  
  .movie-list {
    transition: trasform 0.2s;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-list li {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .movie-list li:hover{
    transform: scale(1.05);
  }
  
  .movie-list img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
   
  }
  
  .movie-list h3 {
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  
  
  /* SideBar */
  
  .sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 100px;
    left: -200px;
    background-color: #ffffff;
    transition: left 0.3s ease;
  }
  
  .sidebar.open {
    left: 0;
    padding-top: 100px;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .sidebar li a.selected,
  .sidebar li a:hover {
    background-color: #e0e0e0;
    border: #33333300;
    border-radius: 5px;
  }
  
  .open-sidebar-button {
    cursor: pointer;
    padding: 5px;
    background-color: #33333300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
  }
  
  .breve{
    color: #fff;
  }
  
  .movie-list img {
    border-radius: 10px;
    width: 100%;
    height: 400px; 
    margin-bottom: 10px;
  }